<%= form_for(@quiz) do |f| %>
  <% if @quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
      <% @quiz.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="row">
  <div class="col-sm-5">
    <div id="formario">
  <div class="field">
    <%= f.label :Quiz_name %><br>
    <%= f.text_field :name, required: true %>
  </div>

  <div class="field">
    <%= f.label :Zip_Needed %><br>
    <%= f.check_box :is_zip, :style => "width: 30px; height: 30px;" %>
  </div>


  <div class="actions">
    <%= f.submit class: "button button_red" %>
    <%= link_to "Cancel", root_path, class: "button button_red" %>
  </div>

  </div>
  </div> 
  <!-- Termina sm 4 -->

  <div class="col-sm-7">

<div id="questions">
<div class="links">
<%= f.fields_for :questions do |builder| %>
  <%= render 'question_fields', f: builder %>
<% end %>
  <%= link_to_add_association f, :questions, class: "fa_add" do %>
    <span class="fa fa-plus-circle" data-toggle="tooltip" data-placement="right" title="Add Question!"></span>
  <% end %>
</div>
</div>
      

  </div>

  <!-- Termina sm 8 -->
</div>  










  <br>
<% end %>


