<fieldset>


<div class="nested-fields">

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :explanation %><br>
    <%= f.text_field :explanation %>
  </div>

   <div class="field">
    <%= f.label :reading %><br>
    <%= f.text_field :reading %>
  </div>

   <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>

   <div class="field">
    <%= f.label :correct %><br>
    <%= f.number_field :correct_option %>
  </div>
<%= link_to_remove_association "Remove file", f %>

</div>


<div class="links">
  <%= link_to_add_association 'add answers', f, :answers, class: "add-colour-link" %>
</div>





  <%= f.fields_for :answers do |builder| %>
    <%= render 'answer_fields', f: builder %>
  <% end %>

</fieldset>