<div class="col-md-8 col-md-offset-2">
<div id="formario">

<h1>Latz Assesment Challenge</h1>

<%= link_to 'New Quiz', new_quiz_path, class: "button button_red" %>
<br><br>
<div class="content table-responsive table-full-width">
        <table class="table table-hover table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Quiz name</th>
      <th>Quiz Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quizzes.each_with_index do |quiz, i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= quiz.name %></td>
        
        <td>
        <%= link_to quiz do %>
        <%= url_for(quiz)%>
        <% end %>
        </td>
        
        <td><%= link_to quiz do %>
          <span class="fa fa-eye rak" aria-hidden="true"></span>
          <% end %>
        </td>
        <td><%= link_to edit_quiz_path(quiz) do %>
          <span class="fa fa-pencil rak" aria-hidden="true"></span>
          <% end %>
        </td>
        <td><%= link_to quiz, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <span class="fa fa-trash rak" aria-hidden="true"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

</div>
</div>