<div class="col-sm-8 col-sm-offset-2">

<div class="tab">
  <button class="tablinks hidden" onclick="openCity(event, 'London')" id="defaultOpen">London</button>

<% @quiz.questions.each_with_index do |question, i| %>  
  <button class="tablinks hidden" onclick="openCity(event, 'Option<%=i%>')">Option <%=i%></button>
<% end %>
</div>


  
<%= form_for([@quiz, @test], html: { novalidate: false }) do |f| %>   

<div id="London" class="tabcontent">
<div id="formario">

    <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, required: true, id: "inputName" %>
  </div>

<div class="row">
    
    <div class="col-md-4">
    <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, required: true, id: "inputEmail" %>
  </div>
  </div>

    
    <div class="col-md-4">
    <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city, required: true, id: "inputCity" %>
  </div>
  </div>

  <% if @quiz.is_zip == true %>
    <div class="col-md-4">
    <div class="field">
    <%= f.label :zip_code %><br>
    <%= f.text_field :zip_code %>
  </div>
  </div>
  <% end %>
  </div>

</div>

<!-- botones -->

<div id="botones_centro">
<button id= "button" class="tablinks button button_red button_next" onclick="openCity(event, 'Option0')">Next</button>
<button id="button1" class="button button_dis">Next</button>
</div>

</div>




<div class="questions">
<% @quiz.questions.each_with_index do |question, i| %>

<div id="Option<%=i%>" class="tabcontent">
<div id="formario">
<div id="jaro2">
   
   <div class="conta">
    <%= image_tag "brief.png", class: "brief" %>
    <h2><%= i+1 %>.</h2>
    <h3><%= question.title %></h3>
  </div> 

    <div class="answers">
      <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
      <h6 class="select">Select one option</h6>
      </div>
      </div>
      <div class="row">
        
      <% question.answers.each_with_index do |answer, z| %>
      <div class="col-md-3">
        <div id="magic" class="<%=i%> <%=i%><%=z%>" style= "background:url('/assets/image<%=rand(0..14)%>.png');">
          <%#= image_tag "image#{rand(0..14)}.png"%>
        
        <h4><%= z+1 %></h4>

        <div id="fondo">
        <p> <%= answer.content.truncate(85) %></p>
        </div>
        </div>
      </div>
      <% end %>
      </div>
    </div>
<%= f.fields_for :test_answers do |builder| %>
  <%= render 'test_answer_fields', f: builder, i: i %>
<% end %>
</div>



</div>

<div id="botones_centro">
  
<% if i == 0 %>

<button class="tablinks button button_red button_next" onclick="openCity(event, 'Option<%=i+1%>')">Next</button>

<% elsif i+1 == @quiz.questions.count %>

<%= f.submit "End Test", class: "button button_red " %>

<% else %>

<button class="tablinks button button_red button_next" onclick="openCity(event, 'Option<%=i+1%>')">Next</button>

<% end %>

</div>

</div>
<% end %>
  
</div>




<% end %>

</div>




<script>
      $("#inputName").keyup && $("#inputEmail").keyup && $("#inputCity").keyup(function () {
       if ($(this).val()) {
          $("#button").show();
          $("#button1").hide();
       }
       else {
          $("#button").hide();
          $("#button1").show();
       }
    });
</script>


<script>
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>

<script>
<% @quiz.questions.each_with_index do |question, i| %>
  <% question.answers.each_with_index do |answer, z| %>
  $( ".<%=i%><%=z%>" ).click(function() {
  document.getElementById('option<%=i%>').value = <%=z%>;
  $('.<%=i%>').removeClass('active');
  $(this).addClass('active');
});
  <% end %>
<% end %>
</script>