<h1><%= @quiz.name %></h1>



<div class="row">
  <div class="col-sm-5">
  <div id="formario">
<%= form_for([@quiz, @test]) do |f| %>   

    <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, required: true %>
  </div>

<div class="row">
    
    <div class="col-md-4">
    <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, required: true %>
  </div>
  </div>

    
    <div class="col-md-4">
    <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city, required: true %>
  </div>
  </div>

  <% if @quiz.is_zip == true %>
    <div class="col-md-4">
    <div class="field">
    <%= f.label :zip_code %><br>
    <%= f.text_field :zip_code %>
  </div>
  </div>
  <% end %>
  </div>
  <% if current_user %>
<%= link_to 'Edit', edit_quiz_path(@quiz) %> |
<%= link_to 'Back', quizzes_path %>
<% end %>
</div>

  </div>
  <div class="col-sm-7">
    <div id="formario">

<div class="questions">
<% @quiz.questions.each_with_index do |question, i| %>



<div id="jaro2">
    <h3><strong><%= i+1 %>.-</strong> <%= question.title %></h3>

    <div class="answers">
      <div class="row">
      <% question.answers.each_with_index do |answer, i| %>
      <div class="col-md-6">
        <div id="magic">
          <%= image_tag "image#{i}.png"%>
        <h4><%= i+1 %></h4>
        <p> <%= answer.content %></p>
        </div>
      </div>
      <% end %>
      </div>
    </div>
<%= f.fields_for :test_answers do |builder| %>
  <%= render 'test_answer_fields', f: builder %>
<% end %>
</div>
  
<% end %>
</div>

  <div class="actions">
    <%= f.submit class: "button button_red button_block" %>
  </div>
  

    </div>
  </div>
</div>

<% end %>

<script>

$('div').on('click',function(){
    $(this).css('color','red').siblings('').css('color','black');
});
</script>
