<% @a = @quiz.questions.count %>
<% @b = 0 %>

<div class="col-sm-8 col-md-offset-2">


<div class="questions">
<% @quiz.questions.each_with_index do |question, w| %>

<div id="formario">
  <div class="row">
    <div class="col-md-4">

<% @d = @quiz.questions[w].try(:correct_option) == @test.test_answers[w].try(:option) %>

<% if @d == true %>
  <%= image_tag "check.svg", class: "circlin" %>
<% else %>
  <%= image_tag "no.svg", class: "circlin" %>
<% end %>
      
    </div>
    <div class="col-md-8">
      <h3 class="white rebus">Results</h3>
      <p class="white exp">
        <%= question.explanation %>
      </p>
    </div>
  </div>
</div>

<div id="formario" class="iglu">
  <div class="row">
    <div class="col-md-6">
      <div id="sin">
        <a href="<%= question.link %>">
          <h5><%= question.reading %></h5>   
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <p class="confi">Want to learn how to become a more  confident negotiator</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div id="formario">
      <%= image_tag "list.svg", class: "list" %>
      <h1 class="white rup"><%=w+1%> of <%= @quiz.questions.count %></h1>
    </div>
  </div>
  <div class="col-md-6">

  </div>
</div>
<br><br>
<% end %>


</div>



<div id="formario">

<% @quiz.questions.each_with_index do |a, i| %>
<% @c = @quiz.questions[i].try(:correct_option) == @test.test_answers[i].try(:option) %>
<% if @c == true %>
  <% @b = @b +1 %>
<% end %>
<% end %>

<div class="row">
  <div class="col-sm-6">
    <div id="magic3" class="uno">
      <h5><%= @b %> Correct Answers</h5>
    </div>
  </div>
    <div class="col-sm-6">
    <div id="magic3" class="dos">
      <h5><%= @a - @b %> Wrong Answers</h5>
    </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div id="magic3" class="tres">
        <h5><%= ((@b / @a.to_f)*100).round(2) %> % of Success</h5>
      </div>
    </div>
  </div>
</div>

</div>

</div>


